* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

:root {
    --clr-primary: #00e05e;
    --clr-white: #fff;
    --clr-third: #8080;
}

body {
    background: #131313;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}